autoload -Uz compinit
compinit
zstyle ':completion:*' menu select

# Keybindings for home/end
bindkey '\e[H'    beginning-of-line
bindkey '\e[F'    end-of-line

export PATH="$PATH:$HOME/bin"

if which starship &> /dev/null ; then
  eval "$(starship init zsh)"
fi

if [[ -f "$HOME/.atuin/bin/env" ]]; then
  . "$HOME/.atuin/bin/env"
fi

if which atuin &> /dev/null; then
  eval "$(atuin init zsh)"
fi


